*{
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: f5f5f5;
  font-family: 'Orbitron', sans-serif;
}

.calculator{
  background-color: purple;
  width: 305px;
  height: 430px;
  margin-top:10%;
  border:1px solid blue;
  border-radius: 10px;
}
h1{
  font-size: 15px;

  color:white;
  text-align: left;
  padding: 5px 0px 3px 15px;
}
#displaywindow{
  background-color: #99CC99;
  color:white;
  text-align: right;
  width: 275px;
  height: 60px;
  margin-top: 5px;
  border-radius: 5px;
}
#displayformula{
  font-size: 18px;
  padding: 3px 5px 0px 0px;
  height: 20px;
}
#display{
  font-size: 25px;
  height: 30px;
  padding: 3px 5px 0px 0px;
}
.buttons{
  width: 300px;
  padding:10px;
  border-radius: 10px;
}

button{
  background-color: #eeeeee; 
  font-weight: bold;
  color: white;
  width: 64px;
  height: 54px;
  border:none;
  border-radius: 5px;
  margin: 4px;
  outline: none; 
}
button:hover{
  background-color: grey; 
}

.button{
  background-color: #252a34;
}
#zero{
  width: 134px;
  background-color: #252a34;
}
.large{
  width: 134px;
  color: black;
}

#equals{
  position: absolute;
  height: 116px;
}

.calc{
  color: black;
}

